@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #2F160D;
    --secondary-color: #D5B882;
    --hover-color: #805639;
    --unchecked-color: #614730;
    --default-radius: 15px;
}

body {
    background-color: var(--primary-color);
    font-family: 'Baloo 2', 'Comic Sans MS', Tahoma;
}

h1 {
    font-size: 3.75rem;
    color: var(--secondary-color);
    margin-top: 40px;
    text-align: center;
}

.start-menu {
    display: block;
    padding: 20px 100px;;
}

.players-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.player-one-container, .player-two-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.player-one-name-container, .player-two-name-container {
    display: flex;
    gap: 20px;
    height: 48px;
}

[for*="player"] {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.5rem;
    color: var(--secondary-color);
    align-self: center;
    font-weight: bold;
}

#playerOne, #playerTwo {
    font-size: 1.375rem;
    flex-grow: 1;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--default-radius);
    padding: 5px 20px;
    font-weight: bold;
    font-family: 'Baloo 2';
    caret-color: var(--hover-color);
}

#playerOne::placeholder, #playerTwo::placeholder {
    font-size: 1.375rem;
    color: var(--hover-color);
    font-family: 'Baloo 2';
    font-weight: 400;
}

.mark-and-bot {
    display: flex;
    gap: 20px;
}

.mark {
    font-size: 6.25rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.bot-container {
    --primary-color: var(--hover-color);
    display: flex;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    padding: 5px;
    border-radius: var(--default-radius);
}

[id*="bot"] {
    height: 35px;
    width: 35px;
    appearance: none;
    border: 3px solid var(--unchecked-color);
    border-radius: 5px;
    position: relative;
}

[id*="bot"]:hover, [id*="bot"]:active {
    border-color: var(--primary-color);
}

[id*="bot"]:focus-visible {
    outline: 2px solid var(--hover-color);
}

[id*="bot"]::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
    transform: scale(0);
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-property: transform, opacity;
}

[id*="bot"]:checked::before {
    transform: scale(1.2);
    opacity: 1;
}

[for*="bot"] {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

#startGame {
    width: 300px;
    height: 67px;
    font-size: 1.875rem;
    text-align: center;
    padding: 10px 40px;
    font-family: 'Baloo 2';
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: var(--default-radius);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.notice {
    font-size: 1.25rem;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 20px;
}

.notice strong {
    font-size: 1.5rem;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}

