*, *::before, *::after {
    box-sizing: border-box;
    border: 1px solid red;
}

.game-container {
    
}

.game-over-container {
    
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}

.ingame-menu {
    
}